body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: Raleway;
  background: url(../images/lombok.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
body .menu {
  position: absolute;
  width: 100%;
  background: inherit;
}
body .menu .mainmenu {
  background: url(../images/lombok.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 50%;
}
body .menu .mainmenu:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
body .menu .mainmenu:after {
  clear: both;
  content: "";
  display: block;
}
body .menu .mainmenu .menuitem {
  float: left;
  width: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}
body #findpass {
  top: 50%;
  left: 5%;
  padding: 10px 20px;
  width: auto;
  background: white;
  color: rgba(0, 0, 0, 0.7);
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 1.2rem;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
body #findpass:focus {
  outline: none;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form {
  margin: 0 auto;
  position: fixed;
  top: 10%;
  left: 50%;
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 500px;
  padding: 20px;
  overflow: hidden;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: inherit;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.form h3{
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 2em;
}
.form h4{
  color: white;
  font-family: 'Roboto';
  font-size: 1em;
  text-align: center;
}
.form .forceColor {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.form:before {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  background: inherit;
  left: -5%;
  right: 0;
  bottom: 0;
  top: -5%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.form.goAway {
  opacity: 0;
  -moz-transform: scale(0.6) translate3d(-50%, 0, 0);
  -ms-transform: scale(0.6) translate3d(-50%, 0, 0);
  -webkit-transform: scale(0.6) translate3d(-50%, 0, 0);
  transform: scale(0.6) translate3d(-50%, 0, 0);
  -moz-transition: -moz-transform 200ms ease-in-out, opacity 100ms linear;
  -o-transition: -o-transform 200ms ease-in-out, opacity 100ms linear;
  -webkit-transition: -webkit-transform 200ms ease-in-out, opacity 100ms linear;
  transition: transform 200ms ease-in-out, opacity 100ms linear;
  -moz-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.form .topbar .spanColor {
  position: absolute;
  width: 0px;
  right: 20px;
  height: 43px;
  opacity: 0.2;
  background-color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -o-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -webkit-transition: width 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out;
  -webkit-transition-delay: 0s, 250ms, 250ms;
  transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
}
.form .topbar .input {
  display: block;
  width: 100%;
  position: relative;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-family: 'Roboto';
  font-size: 1rem;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 25px;
  color: white;
  padding: 10px 20px;
}
.form .topbar .input::-webkit-input-placeholder {
  color: #eee;
  font-family: 'Roboto';
  text-transform: uppercase;
  line-height: 1.5rem;
  font-size: 1rem;
}
.form .topbar .input:focus {
  outline: none;
  color: white;
  border: 1px solid white;
}
.form .topbar .input.disabled:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.form .topbar .input:hover {
  border: 1px solid white;
}
.form .submit {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Roboto';
  font-weight: 200;
  display: block;
  color: white;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.form .submit:focus {
  outline: none;
}
.form .submit:hover {
  color: white;
  border: 1px solid white;
}
.form .submit.recover {
  background: #FF2B4B;
  color: white !important;
  border: 1px solid white !important;
  transition: all 400ms linear;
}

.form2 {
  margin: 0 auto;
  position: absolute;
  top: auto;
  left: 50%;
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 500px;
  padding: 20px;
  overflow: hidden;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: inherit;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.form2 h3{
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 2em;
}
.form2 h4{
  color: white;
  font-family: 'Roboto';
  font-size: 1em;
  text-align: center;
}
.form2 .forceColor {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.form2:before {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  background: inherit;
  left: -5%;
  right: 0;
  bottom: 0;
  top: -5%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.form2.goAway {
  opacity: 0;
  -moz-transform: scale(0.6) translate3d(-50%, 0, 0);
  -ms-transform: scale(0.6) translate3d(-50%, 0, 0);
  -webkit-transform: scale(0.6) translate3d(-50%, 0, 0);
  transform: scale(0.6) translate3d(-50%, 0, 0);
  -moz-transition: -moz-transform 200ms ease-in-out, opacity 100ms linear;
  -o-transition: -o-transform 200ms ease-in-out, opacity 100ms linear;
  -webkit-transition: -webkit-transform 200ms ease-in-out, opacity 100ms linear;
  transition: transform 200ms ease-in-out, opacity 100ms linear;
  -moz-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.form2 .topbar .spanColor {
  position: absolute;
  width: 0px;
  right: 20px;
  height: 43px;
  opacity: 0.2;
  background-color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -o-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -webkit-transition: width 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out;
  -webkit-transition-delay: 0s, 250ms, 250ms;
  transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
}
.form2 .topbar .input {
  display: block;
  width: 100%;
  position: relative;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-family: 'Roboto';
  font-size: 1rem;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 25px;
  color: white;
  padding: 10px 20px;
}
.form2 .topbar .input::-webkit-input-placeholder {
  color: #eee;
  font-family: 'Roboto';
  text-transform: uppercase;
  line-height: 1.5rem;
  font-size: 1rem;
}
.form2 .topbar .input:focus {
  outline: none;
  color: white;
  border: 1px solid white;
}
.form2 .topbar .input.disabled:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.form2 .topbar .input:hover {
  border: 1px solid white;
}
.form2 .submit {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Roboto';
  font-weight: 200;
  display: block;
  color: white;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.form2 .submit:focus {
  outline: none;
}
.form2 .submit:hover {
  color: white;
  border: 1px solid white;
}
.form2 .submit.recover {
  background: #FF2B4B;
  color: white !important;
  border: 1px solid white !important;
  transition: all 400ms linear;
}

.topbar.error .spanColor {
  width: calc(100% - 39px);
  border-top-left-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 6px;
  background-color: #FF2B4B;
}
.topbar.error + .submit {
  color: white;
}
.topbar.error .input {
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.topbar.error .input::-webkit-input-placeholder {
  color: white;
}

.topbar.success .spanColor {
  width: calc(100% - 39px);
  border-top-left-radius: 6px;
  border: 1px solid #26C97D;
  border-bottom-left-radius: 6px;
  background-color: #26C97D;
}
.topbar.success + .submit {
  color: white;
  border: 1px solid white;
}
.topbar.success .input {
  color: white;
  border: 1px solid #26C97D;
}
.topbar.success .input::-webkit-input-placeholder {
  color: white;
}
@media screen and (max-width: 480px) {
    .form{
      max-width: 950px;
      top:1.5%;
      width: 100%;
      margin: 10 auto;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .form{
      max-width: 950px;
      width: 100%;
      height: auto;
      margin: 0 auto;
      position: absolute;
      top: 7%;
      left: 50%;
      -moz-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      padding: 10px;
    }
}